/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/*General Styles*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4f4f4f;
  background-color: #c7a484;
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  color: #4f4f4f;
  font-size: 6rem;
  text-align: right;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.logos {
  max-width: 100%;
}
.titles {
  font-size: 2.2rem;
  padding-left: 2.2rem;
  display: inline-block;
  float: right;
}
.titles,
.p {
  text-align: right;
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
  color: #266035;
  font-family: "Source Sans Pro", sans-serif;
}
.about {
  height: 85vh;
  background-image: url("/images/Lambda-School-Logo.jpg");
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
  justify-content: space-evenly;
}
.pbutton {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #c7a484;
  color: #266032;
  transition: 2s;
  text-align: center;
}
.pbutton:hover {
  color: azure;
  background-color: lightseagreen;
  text-align: center;
}
.cbutton {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #c7a484;
  color: #266032;
  transition: 2s;
  text-align: center;
}
.cbutton:hover {
  color: azure;
  background-color: lightseagreen;
  text-align: center;
}
/* Header Section Styles */
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: rgb(221, 216, 210);
}
.logo {
  width: 5%;
}
.links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
